
body{
	-webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
	margin:0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.2px;
    /*color: #b9b9b9;*/
	/*background-color:#efefef;*/
	background-color:white;
	color:black;
}

.header{
	position:fixed;
	background-color:#1a0000;
	height:50px;
	width:100%;
}
span{ 
	font: 800 1.5em/1  'Open Sans', Impact;
    font-size: 150%;
    font-weight: bold;
}



ul{
	list-style:none;
}
li{
	list-style: none;
}

.menu{
	/* text-align:center; */
	/* padding:0;
	margin:0; */
	/* margin-right:5%; */
	/* width:480px; */
	margin-top: 10px;
	margin-left: 3px;
	height:60px;
	width:100%;
} 

/* top menu */
.menu a{
	color:white;
	font: 1000 1.5em/1  'Open Sans', Impact;
	font-size: 200%;
	font-weight: bold;
	
}

#chaincircle {
	/* position: center */
	float: right;
}

/* #clickButton {
	position: absolute;
} */

#button {
	/* float: right; */
	width: 230px;
	height:20px;
	margin-right: 10px;
	margin-top: 5px;
	background-color:white;
	border: none;
	/* border: 1px solid rgb(209, 214, 209); */
	color: black;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border-radius: 2px;
	box-shadow: 0 3px #999;
}

/* #button:hover {background-color: lightgreen} */

#button:active {
	background-color: green;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}


#submit {
	/* float: right; */
	width: 150px;
	height:20px;
	margin-right: 10px;
	margin-top: 5px;
	background-color:white;
	border: none;
	/* border: 1px solid rgb(209, 214, 209); */
	color: black;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	border-radius: 2px;
	box-shadow: 0 3px #999;
	display: none;
}

#submit:active {
	background-color: green;
	box-shadow: 0 5px #666;
	transform: translateY(4px);
}

#clock {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

/*-----------------------------------------------------------------------------------*/
/* main body
/*-----------------------------------------------------------------------------------*/
.content{
	height:500px;
	z-index:8;
    margin-left: 4%;
    margin-right: 5%;
	margin-top:20px;
}
.left{
	float:left;
	height:100%;
	width:75%;
}
.right{
	float:left;
	margin-left:3%;
	height:100%;
	width:22%;
}
.search{
	width:100%;
	height:30px;
	background-color:#eee;
}
.text1 {
	color:#777;
	float:left;
	left:20px;
	margin:15px;
	width:850px;
	/* height:500px; */
    /*box-shadow:0 0 0 1px rgba(10,10,10,.2);*/
	background-color:#fff;
}
.text1 a{
	background-color:#fff;
}


/*-----------------------------------------------------------------------------------*/
/* Buttom section */
/*-----------------------------------------------------------------------------------*/
.bottom{ 
	position: fixed;
	bottom: 0px;
	text-align:center;
	color:#fff;
	height:17%;
	width: 100%;
	background-color:#1a0000;
}

.bottom a{
	text-align:center;
	font-family:arial;
	font-size:13px;
	color:#fff;
}


.text{
	margin:5px;
	width:500px;
	background: #eee;
}
.text-contain{
	background: #70acba;
	text-align: center;
	line-height: 400%;
	color:#eee;
}
.text-header{
	background-color: #2e2e2e;
	line-height: 200%;	
	margin-top:50px;
}

.text-content{
	color:black;
	font-family: 'Times New Roman', Times, serif;
	margin-left: 3%
}

.text-email{
	text-align: center;
}

/* dual screens*/
.text11{
	position:absolute;
    left: 0px;
    height:100%;
    width:50%;
    /* overflow: hidden; */
}

.text22{
	position: absolute;;
    right: 0px;
    height:100%;
    width:50%;
    /* overflow: hidden; */
}


.frame-area {
	display: block;
	position: absolute;
	width: 100%;  /* RESPONSIVE WIDTH */
	max-width: 100%;
	height: 70%;
	overflow: auto;  /* EDIT TO hidden FOR NO SCROLLBAR */
	border: #999999 1px solid;
	margin:1px;
	padding: 0px;
	}
